@media (min-width: 800px) {
    .button {
	border-radius: 25px;
	color: #198981;
	--default-radius: 17px;
	background-color: #fff;
	color: #000 !important;
	border-radius: var(--default-radius);
}

    #button-smaller {
	border-radius: 25px;
	color: #198981;
	border-radius: 5px;
	background-color: 'red';
}
}
