.min-width {
    .button {
	--default-radius: 17px;
	background-color: #fff;
	color: #000 !important;
	border-radius: var(--default-radius);
}

    #button-smaller {
	border-radius: 5px;
	background-color: 'red';
}
